body, html {
  font-family: 'Helvetica', 'Arial';
  font-size: 14px;
  color: #555;
}

h1 {
  font-size: 4.0em;
  text-align: center;
}

.flush {
  clear: both;
  margin: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.color-red {
  color: red !important;
}

/* modal overlay */
.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  background: rgba(11,11,11, 0.9);
  z-index: 50;
}

.overlay-wrapper .dialog {
  position: absolute;
  top: 0;
  left: 400px;
  width: 500px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
}

.overlay-wrapper .dialog h2 {
  margin: 10px 10px 30px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.overlay-wrapper .dialog p {
  padding: 0 20px;
}

.overlay-wrapper .dialog .button {
  bottom: 10px;
  padding: 10px 20px;
  background: #eee;
  border: 1px solid #eee;
  text-decoration: none;
  color: #555;
}

.overlay-wrapper .dialog .button:hover,
.overlay-wrapper .dialog .button:active {
  border: 1px solid #ddd;
}

.overlay-wrapper .dialog a#yesBtn {
  position: absolute;
  left: 180px;  
  color: green;
}

.overlay-wrapper .dialog a#noBtn {
  position: absolute;
  left: 260px;
}

/* View Wrapper */
div.view-wrapper {
  position: relative;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

div.view-wrapper div.node {
  float: left;
  position: relative;
  margin: 0;
  width: 96px;

  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
}

/* Node Elements and Styles */
div.view-wrapper div.node h2 {
  margin: 0;
  padding: 5px;
  font-size: 1.0em;
  text-style: bold;
}

div.view-wrapper div.node div.dot-wrapper {
  position: relative;
  margin: 10px 0;
  width: 99px;
  height: 29px;
  background: #bbb;
}

div.view-wrapper div.node.peaking {
/*  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);*/
}

div.view-wrapper div.node.dipping {
/*  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);*/
}

div.view-wrapper div.node.selected {
  color: lightblue;
}

div.view-wrapper div.node.changed {
  color: red;
}

div.view-wrapper div.node.skipped {
  color: gray !important;
}

div.view-wrapper div.node div.dot-wrapper.lm-dot-w-line {
  background: url(images/lm_dot_w_lines.png) no-repeat;
}

div.view-wrapper div.node div.dot-wrapper.white-dot-w-line {
  background: url(images/white_dot_w_lines.png) no-repeat;
}

div.view-wrapper div.node div.dot-wrapper.transparent-dot-w-line {
  background: url(images/transparent_dot_w_lines.png) no-repeat;
}

div.view-wrapper div.node div.dot-wrapper.transparent-dot-end {
  background: url(images/transparent_dots.png) no-repeat;
}

div.view-wrapper div.node div.dot-wrapper.white-dot-end {
  background: url(images/white_dots.png) no-repeat;
}

div.view-wrapper div.node div.dot-wrapper.lm-dot-end {
  background: url(images/lm_dots.png) no-repeat;
}

div.view-wrapper div.node p {
  padding: 10px 0;
  width: 80px;
  font-size: 0.8em;
}

/* Info Wrapper */
div.info-outer-wrapper {
  position: relative;
  margin: 50px 10px 20px 10px;
  padding: 10px 5px 5px 5px;
  height: 200px;
  border-top: 1px solid #ddd;
}

div.info-outer-wrapper h3 {
  margin: 0;
  font-size: 2.0em;
  text-style: bold;
}

div.info-outer-wrapper p {
  font-size: 1.2em;
  text-style: italic;
}

/* Edit Form */
div.form-wrapper {
/*  position: absolute;
  top: 20px;
  right: 50px;*/
}

div.form-wrapper ul.action-list {
  margin: 10px 0 10px 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #ddd;
}

div.form-wrapper ul.action-list li {
}

div.form-wrapper ul.action-list li a,
div.form-wrapper ul.action-list li a:visited {
  display: block;
  padding: 10px 20px;
  color: #555;
  text-decoration: none;
}

div.form-wrapper ul.action-list li a:hover,
div.form-wrapper ul.action-list li a:active {
  background: #eee;
}

div.form-wrapper ul.action-list li a.selected {
  background: #eee;
  color: black;
  font-style: italic;
}

div.form-wrapper input,
div.form-wrapper textarea {
  margin: 10px 0;
  padding: 5px 10px;
  width: 180px;
  border: 1px solid #ddd;
  background: #eee;
  color: #555;
}

div.form-wrapper input:focus,
div.form-wrapper textarea:focus {
  outline: none;
  border: 1px solid lightblue;
  color: black;
}

div.form-wrapper button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
}

div.form-wrapper button#saveBtn {
  margin: 0 10px 0 20px;
  border-bottom: 3px solid green;
  background: lightgreen;
}

div.form-wrapper button#resetBtn {
  margin: 0 0 0 10px;
  border-bottom: 3px solid yellow;
  background: lightyellow;
}

div.form-wrapper button#saveBtn:active {
  border-bottom: 3px solid lightgreen;
  background: green;
}

div.form-wrapper button#resetBtn:active {
  border-bottom: 3px solid lightyellow;
  background: yellow;
}

div.selection-wrapper {
  position: relative;
}

div.selection-wrapper span.default-selection {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #eee;
  font-style: italic;
  cursor: pointer;
}

div.selection-wrapper ul#optionsList {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 30px;
  width: 200px;
  border: 1px solid #ddd;
  background: #eee;
  list-style: none;
  z-index: 20;

  box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 1px 1px 5px #ccc;
}

div.selection-wrapper ul#optionsList li {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

div.selection-wrapper ul#optionsList li:first-child {
  margin-top: 0;
}

div.selection-wrapper ul#optionsList li:hover,
div.selection-wrapper ul#optionsList li:active {
  background: #ddd;
  color: black;
}

/* BOOTSTRAPS STYLE OVERRIDES */
.page-title {
  margin: 50px 0 100px;
}

#navigation {
  margin: 50px 0;
}

.navbar a.btn {
  /*margin: 0 40px;*/
}

blockquote {
  margin: 50px 0;
}

.description-wrapper {
  padding-top: 35px;
}

.description {
  margin: 40px 0;
}